h1 {
    font-family: 'Pacifico';
    color: SaddleBrown;
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
    text-shadow: 4px 4px #000;
    -webkit-text-stroke-color: Wheat;
    -webkit-text-stroke-width: 1.5px;
  }
  .page{font-family: 'Pacifico';font-size: 22px;}
 .grad1 {
  height: 150px;
  background-color: SandyBrown;}
body {background-color: Ivory;}
 footer {
  text-align: center;
  padding: 3px;
  background-color: SaddleBrown;
  color: white;}
  
.imgNE { 
    position: center;
    display: block;  
margin-left: auto;  
margin-right: auto;
  }
  
.button-group {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-button {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;

}
.home-button {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;

}
.next-button {
  background-color: blue;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
}